<script>
  import { notes as notesStore, folders as foldersStore } from './stores.js';
  import * as theme from './themes';
  import { Router, Route, navigate } from 'svelte-routing';
  import { LoaderIcon } from 'svelte-feather-icons';
  import Login from './Login.svelte';
  import Sidebar from './components/Sidebar.svelte';
  import HomeView from './views/HomeView.svelte';
  import NotesView from './views/NotesView.svelte';
  import FoldersView from './views/FoldersView.svelte';
  import NewNoteView from './views/NewNoteView.svelte';
  import NewFolderView from './views/NewFolderView.svelte';
  import NewEncryptedNoteView from './views/NewEncryptedNoteView.svelte';
  import EncryptedNoteView from './views/EncryptedNoteView.svelte';
  import EditEncryptedNoteView from './views/EditEncryptedNoteView.svelte';
  import SettingsView from './views/SettingsView.svelte';
  import NoteView from './views/NoteView.svelte';
  import FolderView from './views/FolderView.svelte';
  import FolderSettingsView from './views/FolderSettingsView.svelte';
  import UnlockFolderView from './views/UnlockFolderView.svelte';
  import NotFoundView from './views/NotFoundView.svelte';
  import EditNoteView from './views/EditNoteView.svelte';
  import Spinner from './components/Spinner.svelte';
  import * as service from './service';

  async function initNotes() {
    const notes = await service.getNotes();
    notesStore.set(notes.filter(n => n.props.type !== 'folder'));
    foldersStore.set(notes.filter(n => n.props.type === 'folder'));
  }
</script>

<Router>
  <div class="container mx-auto flex md:flex-row flex-col h-full">
    <div class="mt-4 md:w-1/12 mr-4 lg:mr-0 md:mt-8 lg:w-1/6">
      <Sidebar />
    </div>

    {#await initNotes()}
      <div class="h-full w-full mx-auto flex flex-row justify-center my-4">
        <div class="mx-auto my-auto">
          <Spinner />
        </div>
      </div>

    {:then notes}
      <div class="mt-4 md:mt-8 md:w-11/12 lg:w-5/6">
        <Route path="/" component={HomeView} />
        <Route path="/folders" component={FoldersView} />
        <Route path="/notes" component={NotesView} />
        <Route path="/notes/:id" component={NoteView} />
        <Route path="/folders/:id" component={FolderView} />
        <Route path="/folders/new" component={NewFolderView} />
        <Route path="/folders/:id/settings" component={FolderSettingsView} />
        <Route path="/folders/:id/unlock" component={UnlockFolderView} />
        <Route path="/folders/:id/new" component={NewEncryptedNoteView} />
        <Route path="/folders/:folderId/notes/:noteId/edit" component={EditEncryptedNoteView} />
        <Route path="/folders/:folderId/notes/:noteId" component={EncryptedNoteView} />
        <Route path="/notes/:id/edit" component={EditNoteView} />
        <Route path="/new" component={NewNoteView} />
        <Route path="/settings" component={SettingsView} />
        <Route component={NotFoundView} />
      </div>

    {:catch error}
      <div class="w-full my-5">
        <p class="text-2xl text-center">Something went wrong</p>
      </div>
    {/await}
  </div>
</Router>
