<script>
  import Spinner from './components/Spinner.svelte';
  import * as service from './service';

  let username;
  let password;
  let confirmPassword;
  let failed = false;
  let loading = false;
  let errMsg = 'Something went wrong';
  let form = window.location.pathname === '/signup' ? 'signup' : 'login';

  $: unconfirmed = confirmPassword && confirmPassword != password;

  async function handleSubmit() {
    if (!username || !password) return;
    loading = true;
    try {
      if (form === 'login') {
        await service.login(username, password);
      } else {
        await service.signup(username, password);
      }
      window.location.pathname = '/';
    } catch (err) {
      loading = false;
      failed = true;
      errMsg = err.response.data.message || 'Something went wrong';
    }
  }
</script>

<div class="container mx-auto flex flex-row justify-center items-center h-full">

  <form id="login-form" on:submit|preventDefault={handleSubmit}>
    <div class="login-form-content flex flex-col p-4">
      {#if failed && !loading}
        <p class="text-center text-lg text-red-500">{errMsg}</p>
      {/if}
      <input
        type="text"
        id="username-input"
        bind:value={username}
        placeholder="username"
        class="w-full my-2 text-2xl px-4 py-2 rounded-full" />
      <input
        type="password"
        id="password-input"
        bind:value={password}
        placeholder="password"
        class="w-full my-2 text-2xl px-4 py-2 rounded-full" />
      {#if form === 'signup'}
        <input
          type="password"
          id="confirm-password-input"
          bind:value={confirmPassword}
          placeholder="confirm password"
          class:unconfirmed
          class="w-full my-2 text-2xl px-4 py-2 rounded-full" />
      {/if}
      {#if !loading}
        <button
          type="submit"
          class="submit-btn w-2/4 my-2 mx-auto text-2xl px-4 py-2 rounded-full"
          disabled={loading || (form === 'signup' && confirmPassword !== password)}>
          submit
        </button>
      {:else}
        <div class="mx-auto my-4">
          <Spinner />
        </div>
      {/if}

      <p class="text-center text-lg my-2 text-gray">
        {#if form === 'login'}
          Don't have an account?
          <a href="/signup">Sign up</a>
        {:else}
          Already have an account?
          <a href="/login">Login</a>
        {/if}
      </p>

    </div>
  </form>

</div>

<style>
  .login-form-content {
    border-radius: 1rem;
  }

  button:disabled {
    cursor: not-allowed;
  }

  .unconfirmed {
    border: 1px solid #fa8072;
    box-shadow: inset 0 0 0 2px #fa8072;
  }

  .unconfirmed:focus {
    box-shadow: inset 0 0 0 2px #fa8072;
  }

  .submit-btn {
    background: var(--primary-color);
    outline: none;
  }

  .submit-btn:focus {
    box-shadow: inset 0 0 0 3px white;
    outline: none;
  }
</style>
