body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", 
                Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    background: var(--bg-color); 
    color: var(--text-color);
    overflow-y: scroll;
}

input, textarea {
    background: var(--input-bg);
    outline: none;
    border: 1px solid var(--lightgray);
}

input:focus, textarea:focus {
    box-shadow: inset 0 0 0 1px var(--primary-color);
    border: 1px solid var(--primary-color);
}

input[type="checkbox"]:focus {
    border: none;
    box-shadow: none;
}

button:focus {
    outline: none;
}

button:disabled {
    cursor: not-allowed;
}

.btn-new {
    background: var(--primary-color);
    color: white;
    border-radius: 9999px;
}

.btn-new:hover {
    filter: brightness(115%);
}

.primary-btn {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-weight: bold;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    border-radius: 9999px;
}

.secondary-btn {
    color: var(--lightgray);
    border: 2px solid var(--lightgray);
    font-weight: bold;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 9999px;
}

.secondary-btn:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.danger-btn {
    color: #f56565;
    border: 2px solid #f56565;
    font-weight: bold;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    border-radius: 9999px;
}

.markdown img {
    max-width: 100%;
}

.markdown a {
  color: var(--primary-color);
}

.markdown a:hover {
  text-decoration: underline;
}

.primary-btn:focus {
    box-shadow: inset 0 0 0 2px var(--primary-btn-color);
}

.text-gray {
    color: #718096;
}

.icon {
    width: 25px;
    height: 25px;
}

.icon-sm {
  height: 1.15rem;
  width: 1.15rem;
}

.icon-lg {
    width: 2.5rem;
    height: 2.5rem;
}

.del-icon {
    color: white;
}

.del-icon:hover {
    color: red;
}

.del-btn {
    color: darkred;
}

.del-btn:hover, .del-btn:focus {
    color: red;
}

.navlink {
    font-weight: bold;
    text-decoration: none;
}

.navlink:hover {
    color: var(--primary-color);
    background: rgba(var(--primary-color-rgb), 0.1);
    border-radius: 4rem;
    text-decoration: none;
}

.navlink-active {
    color: var(--primary-color);
}

.navlink-inactive {
    color: var(--navlink-inactive-text);
}
