<script>
  import { createEventDispatcher } from 'svelte';
  import { XIcon } from 'svelte-feather-icons';

  const dispatch = createEventDispatcher();

  export let title = '';

  function close() {
    dispatch('close');
  }

  function handleKeydown(e) {
    if (e.keyCode === 27) close();
  }
</script>

<svelte:window on:keydown={handleKeydown} />

<div class="bg flex flex-row justify-center items-center md:items-start" on:click|self={close}>

  <div class="modal md:mt-24 w-11/12">
    <header class="p-2">
      <div class="flex flex-row justify-start">
        <button type="button" class="rounded-full close-btn" on:click={close}>
          <div class="close-icon">
            <XIcon />
          </div>
        </button>
        <h2 class="mx-2 font-bold text-lg">{title}</h2>
      </div>
    </header>
    <div class="modal-body">
      <slot />
    </div>
  </div>

</div>

<style>
  .bg {
    position: fixed;
    cursor: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .close-btn {
    color: var(--lightgray);
  }

  .close-btn:hover {
    background: rgba(var(--primary-color-rgb), 0.1);
  }

  .modal {
    background: var(--box-bg);
    border-radius: 14px;
    max-width: 600px;
  }

  header {
    border-bottom: 1px solid var(--border-color);
  }

  .close-icon {
    height: 25px;
    width: 25px;
  }
</style>
