<script>
  import Modal from './Modal.svelte';
  import { createEventDispatcher } from 'svelte';
  import { folders } from './../../stores';

  const dispatch = createEventDispatcher();

  export let selected = -1;

  function close() {
    dispatch('close');
  }

  function select(folderId) {
    dispatch('select', folderId);
  }
</script>

<Modal title="Select folder" on:close={close}>
  <div class="modal-body p-3 flex flex-row flex-wrap justify-center">
    <button
      type="button"
      class="mx-1 my-1 {!selected || selected === -1 ? 'primary-btn' : 'secondary-btn'}"
      on:click={() => select()}>
      No folder
    </button>
    {#each $folders.filter(f => !f.props.encrypted) as folder (folder.id)}
      <button
        type="button"
        class="mx-1 my-1 {selected === folder.id ? 'primary-btn' : 'secondary-btn'}"
        on:click={() => select(folder.id)}>
        {folder.props.name}
      </button>
    {/each}
  </div>
</Modal>

<style>

</style>
