<script>
  export let title;
</script>

<section class="box">
  <header class="py-2 px-2 flex flex-row justify-between items-center">
    <div>
      <slot name="title-btn" />
    </div>

    <h2 class="title mr-auto ml-2 font-bold text-lg">{title}</h2>
    <div>
      <slot name="header-btn" />
    </div>
  </header>
  <div class="box-body">
    <slot name="body" />
  </div>
</section>

<style>
  .box {
    background: var(--box-bg);
    border-radius: 14px;
  }

  header {
    border-bottom: 1px solid var(--border-color);
  }
</style>
