<script>
    import { ChevronDownIcon } from 'svelte-feather-icons';
    import { fly } from 'svelte/transition';

    export let options = [];

    let open = false;
</script>

<div>
    <div on:click|stopPropagation={() => (open = !open)}>
        <slot />
    </div>

    {#if open}
        <div class="bg" on:click|stopPropagation={() => (open = false)} />
    {/if}

    {#if open}
        <div
            class="options rounded fixed flex flex-col"
            in:fly={{ y: -15, duration: 100 }}>
            {#each options as option (options.text)}
                <div
                    class="option text-left pl-2 pr-4 cursor-pointer"
                    on:click|stopPropagation={() => {
                        open = false;
                        option.onSelect();
                    }}>
                    {option.text}
                </div>
            {/each}
        </div>
    {/if}

</div>

<style>
    .options {
        background: var(--dropdown-bg);
        box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px,
            rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
        position: absolute;
        z-index: 1;
        transform: translate(-55%, -5%);
    }

    .bg {
        position: fixed;
        cursor: auto;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .option:hover {
        background: var(--dropdown-option-hover-bg);
    }
</style>
