<script>
  import Spinner from './../components/Spinner.svelte';
  import Box from './../components/Box.svelte';
  import { LockIcon, UnlockIcon } from 'svelte-feather-icons';
  import { navigate, link } from 'svelte-routing';
  import { folders, notes } from './../stores';

  export let limit = null;

  function folderNotesCount(notesCount) {
    if (notesCount > 1) return notesCount + ' notes';
    else if (notesCount === 1) return notesCount + ' note';
    else return 'empty';
  }

  function countNotes(folder) {
    return $notes.reduce((sum, n) => (n.props.folder === folder.id ? ++sum : sum), 0);
  }

  function lockFolder(folder) {
    delete folder.password;
    delete folder.notes;
    folders.update(folder);
  }

  function unlockFolder(folder) {
    navigate(`/folders/${folder.id}/unlock`);
  }
</script>

<div>
  <Box title="Folders">
    <span slot="header-btn">
      <button
        type="button"
        class="secondary-btn text-sm font-semibold"
        on:click={() => navigate('/folders/new')}>
        new
      </button>
    </span>
    <span slot="body">
      {#each limit ? $folders.slice(0, limit) : $folders as folder, idx (folder.id)}
        <div
          class="folder-preview pl-3 py-2 flex flex-row flex-wrap items-center justify-start
          cursor-pointer {idx > 0 ? 'border-top' : ''}"
          on:click={() => navigate(`/folders/${folder.id}`)}>
          <div>{folder.props.name}</div>
          <span class="mx-1">·</span>
          {#if folder.props.encrypted}
            <div
              class="icon-sm lock-icon mx-1"
              on:click|stopPropagation={() => (folder.password ? lockFolder(folder) : unlockFolder(folder))}>
              {#if !folder.password}
                <LockIcon />
              {:else}
                <UnlockIcon />
              {/if}
            </div>
          {:else}
            <div class="text-gray">
              {folderNotesCount($notes.reduce((sum, n) => (n.props.folder === folder.id ? ++sum : sum), 0))}
            </div>
          {/if}
        </div>
      {/each}
      {#if $folders.length === 0}
        <h2 class="text-center py-5 text-gray text-lg font-medium">Wow, such empty</h2>
      {:else if limit && limit < $folders.length}
        <a use:link href="/folders" class="text-gray show-all-link">
          <div class="pl-3 py-2 border-top text-center">Show all</div>
        </a>
      {/if}
    </span>
  </Box>
</div>

<style>
  .border-top {
    border-top: 1px solid var(--border-color);
  }

  .folder-preview {
    font-size: 15px;
  }

  .folder-preview:hover {
    color: var(--primary-color);
  }

  .lock-icon {
    color: var(--text-color);
  }

  .lock-icon:hover {
    color: var(--primary-color);
  }

  .show-all-link:hover {
    color: var(--primary-color);
  }
</style>
