<script>
    import { Link } from 'svelte-routing';
    export let to = '';

    function getProps({ location, href, isPartiallyCurrent, isCurrent }) {
        if (isCurrent) {
            return { class: 'navlink-active' };
        } else {
            return { class: 'navlink-inactive' };
        }
        return {};
    }
</script>

<Link {to} {getProps}>
    <slot />
</Link>
