<script>
  import { notes as notesStore, folders, selectedTag } from './../stores';
  import { navigate } from 'svelte-routing';
  import { createEventDispatcher } from 'svelte';
  import { link } from 'svelte-routing';
  import {
    TrashIcon,
    EditIcon,
    SquareIcon,
    CheckSquareIcon,
    ChevronDownIcon,
    FolderIcon,
    TagIcon
  } from 'svelte-feather-icons';
  import Dropdown from './Dropdown.svelte';
  import Tag from './Tag.svelte';
  import NoteContent from './NoteContent.svelte';
  import Timeago from './Timeago.svelte';

  export let note;
  export let showFolder = true;

  const options = [
    { text: 'Edit', onSelect: () => dispatch('edit', note.id) },
    { text: 'Delete', onSelect: () => dispatch('remove', note.id) }
  ];

  const dispatch = createEventDispatcher();

  const remove = () => dispatch('remove', note.id);
  const toggleDone = () => dispatch('toggleDone', note.id);
</script>

<div>
  <div class="note-header flex flex-row flex-wrap">
    <div class="w-10/12 flex flex-row flex-wrap items-center mt-2">
      {#if note.props.todo}
        <button type="button" class="icon-sm mx-1" on:click|stopPropagation={toggleDone}>
          {#if note.props.todo.done}
            <span class="done-icon" title="done">
              <CheckSquareIcon />
            </span>
          {:else}
            <span title="todo">
              <SquareIcon />
            </span>
          {/if}
        </button>
      {/if}
      <div class="text-sm mx-1">
        <Timeago datetime={note.createdAt} />
      </div>
      {#if note.props.folder && showFolder}
        <span class="text-lg mx-1">·</span>
        <div class="icon-sm inline-block mx-1">
          <FolderIcon />
        </div>
        <a
          href="/folders/{note.props.folder}"
          class="folder-link inline-block text-sm mx-1"
          use:link>
          {$folders.find(f => f.id === note.props.folder).props.name}
        </a>
      {/if}
      {#if note.props.tags.length > 0}
        <span class="text-lg mx-1">·</span>
      {/if}
      {#each note.props.tags as tag, idx (tag)}
        <div
          class="mr-1 cursor-pointer"
          on:click|stopPropagation={() => {
            selectedTag.set(tag);
            navigate('/notes');
          }}>
          <Tag {tag} />
        </div>
      {/each}
    </div>
    <div class="w-2/12 flex flex-row justify-end mt-2">
      <Dropdown {options}>
        <button type="button" class="rounded-full options-dropdown-btn">
          <div class="icon-sm">
            <ChevronDownIcon />
          </div>
        </button>
      </Dropdown>
    </div>
  </div>
  <div class="note-content text-md mt-3">
    <NoteContent {note} />
  </div>
</div>

<style>
  .note-content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    display: block;
    white-space: pre;
  }

  .done-icon {
    color: var(--primary-color);
  }

  .options-dropdown-btn {
    color: var(--lightgray);
  }

  .folder-link {
    color: var(--text-color);
  }

  .folder-link:hover {
    color: var(--primary-color);
  }
</style>
