<script>
  import { folders, notes } from './../stores.js';
  import { navigate } from 'svelte-routing';
  import { createEventDispatcher } from 'svelte';
  import { TrashIcon } from 'svelte-feather-icons';
  import { fade } from 'svelte/transition';
  import TagsInput from './../components/TagsInput.svelte';
  import SelectFolderModal from './../components/modal/SelectFolderModal.svelte';

  const dispatch = createEventDispatcher();

  export let note;
  export let allowFolder = true;

  let formData = {
    id: note.id,
    userId: note.userId,
    createdAt: note.createdAt,
    content: note.content,
    props: {
      folder: note.props.folder,
      todo: note.props.todo,
      tags: [...note.props.tags],
      markdown: note.props.markdown
    }
  };

  let todo = note.props.todo || false;
  let showSelectFolderModal = false;

  const submit = () => {
    if (todo && !formData.props.todo) {
      formData.props.todo = {
        done: false
      };
    }
    if (!todo) delete formData.props.todo;
    if (!formData.props.folder) delete formData.props.folder;

    dispatch('submit', formData);
  };

  function selectFolder({ detail: selectedFolderId }) {
    formData.props.folder = selectedFolderId;
    showSelectFolderModal = false;
  }
</script>

<div>
  {#if allowFolder}
    <div class="w-full">
      <button
        type="button"
        class="secondary-btn mx-1"
        on:click={() => (showSelectFolderModal = true)}>
        {formData.props.folder ? $folders.find(f => f.id === formData.props.folder).props.name : 'No folder'}
      </button>
    </div>
  {/if}
  <div class="w-full flex flex-row flex-wrap items-end">
    <div class="w-full mb-3">
      <TagsInput bind:tags={formData.props.tags} />
    </div>
  </div>

  <div class="w-full">
    <textarea
      class="p-3 text-left rounded-lg mx-auto"
      placeholder="Type text here..."
      bind:value={formData.content} />
  </div>

  <div class="w-full">
    <label class="select-none cursor-pointer mx-3" for="markdown-switch">
      <input
        bind:checked={formData.props.markdown}
        type="checkbox"
        class="cursor-pointer"
        name="markdown-switch"
        id="markdown-switch" />
      markdown
    </label>
    <label class="select-none cursor-pointer mx-3" for="todo-switch">
      <input
        bind:checked={todo}
        type="checkbox"
        class="cursor-pointer"
        name="todo-switch"
        id="todo-switch" />
      todo
    </label>
  </div>
  <div class="text-center">
    <button on:click={submit} type="submit" class="primary-btn">save</button>
  </div>
</div>

{#if showSelectFolderModal}
  <SelectFolderModal
    on:close={() => (showSelectFolderModal = false)}
    on:select={selectFolder}
    selected={formData.props.folder} />
{/if}

<style>
  textarea {
    width: 100%;
    height: 120px;
    min-height: 100px;
    max-height: 500px;
    outline: none;
    color: var(--text-color);
    overflow-y: auto;
  }
</style>
