<script>
  import marked from 'marked';

  export let note;

  function renderMarkdown(note) {
    if (note.__markdown) {
      return note.__markdown;
    } else {
      note.__markdown = marked(note.content);
      return note.__markdown;
    }
  }
</script>

<div class="note-content">
  {#if note.props.markdown}
    <div class="markdown">
      {@html renderMarkdown(note)}
    </div>
  {:else}
    <p>{note.content}</p>
  {/if}
</div>

<style>
  .note-content {
    font-size: 15px;
  }
</style>
