<script>
  import Box from './Box.svelte';
  import Tag from './Tag.svelte';
  import NotePreview from './NotePreview.svelte';
  import { slide } from 'svelte/transition';
  import { SearchIcon, XIcon, SettingsIcon, SlidersIcon } from 'svelte-feather-icons';
  import { notes as notesStore, tags } from './../stores';
  import { navigate } from 'svelte-routing';
  import * as util from './../util';
  import * as service from './../service';

  export let title = 'Notes';
  export let showFolder = true;
  export let notes;
  export let selectedTags = [];
  export let toggleDone = service.toggleDone;
  export let remove = service.removeNote;
  export let open = note => navigate(`/notes/${note.id}`);
  export let edit = note => navigate(`/notes/${note.id}/edit`);

  let filteredNotes = [];
  let filters = {
    notes: true,
    todo: true,
    done: true
  };
  let search = '';
  let showSettings = false;

  if (selectedTags.length > 0) showSettings = true;

  $: filteredNotes = notes.filter(
    n =>
      (filters.done || !isDone(n)) &&
      (filters.todo || !isTodo(n)) &&
      (filters.notes || (isDone(n) || isTodo(n))) &&
      (!selectedTags.length ||
        n.props.tags.reduce((ok, tag) => ok || selectedTags.indexOf(tag) !== -1, false)) &&
      (!search || n.content.toLowerCase().includes(search.trim().toLowerCase()))
  );

  function checkTags(note) {
    if (selectedTags.length === 0) return true;
    return note.props.tags.reduce((ok, tag) => ok || selectedTags.indexOf(tag) !== -1, false);
  }

  function isDone(note) {
    return note.props.todo && note.props.todo.done;
  }

  function isTodo(note) {
    return note.props.todo && !note.props.todo.done;
  }

  function toggle(tag) {
    const idx = selectedTags.indexOf(tag);
    if (idx !== -1) selectedTags.splice(idx, 1);
    else selectedTags.push(tag);
    selectedTags = selectedTags;
  }
</script>

<Box {title}>
  <span slot="title-btn">
    <slot name="title-btn" />
  </span>
  <span slot="header-btn">
    <slot name="header-btn" />
  </span>

  <div slot="body">
    <div class="w-full flex flex-row items-center justify-start px-3">
      <div class="inline-block">
        <div class="icon-sm mx-auto {!search ? 'text-gray' : ''}">
          {#if !search}
            <SearchIcon />
          {:else}
            <span class="cursor-pointer" on:click={() => (search = '')}>
              <XIcon />
            </span>
          {/if}
        </div>
      </div>
      <input
        class="search-input py-2 px-3 inline-block h-full w-full border-0 text-lg"
        type="search"
        autocomplete="off"
        name="search in notes"
        bind:value={search}
        placeholder="Search" />
      <div
        role="button"
        class="icon-sm {!showSettings ? 'text-gray' : ''}"
        on:click={() => (showSettings = !showSettings)}>
        <SlidersIcon />
      </div>
    </div>

    {#if showSettings}
      <div class="p-2 border-top" transition:slide|local={{ duration: 250 }}>
        <div class="flex flex-row flex-wrap justify-center mb-2">
          <label
            class="{!filters.notes ? 'text-gray' : ''} select-none cursor-pointer mx-3"
            for="notes-switch">
            <input
              bind:checked={filters.notes}
              type="checkbox"
              class="cursor-pointer"
              name="notes-switch"
              id="notes-switch" />
            notes
          </label>
          <label
            class="{!filters.todo ? 'text-gray' : ''} select-none cursor-pointer mx-3"
            for="todo-switch">
            <input
              bind:checked={filters.todo}
              type="checkbox"
              class="cursor-pointer"
              name="todo-switch"
              id="todo-switch" />
            todo
          </label>
          <label
            class="{!filters.done ? 'text-gray' : ''} select-none cursor-pointer mx-3"
            for="done-switch">
            <input
              bind:checked={filters.done}
              type="checkbox"
              class="cursor-pointer"
              name="done-switch"
              id="done-switch" />
            done
          </label>

        </div>
        <div class="flex flex-row flex-wrap justify-center">
          {#each $tags as tag, idx}
            <div class="mr-2 my-1 cursor-pointer" on:click={() => toggle(tag.name)}>
              <Tag
                tag={tag.name}
                count={tag.count}
                active={selectedTags.indexOf(tag.name) !== -1} />
            </div>
          {/each}
        </div>
      </div>
    {/if}

    {#each filteredNotes as note, idx (note.id)}
      <div
        on:click={() => open(note)}
        class="note-preview-wrapper border-top py-1 px-3 cursor-pointer {isDone(note) ? 'done' : ''}
        {idx === filteredNotes.length - 1 ? 'rounded-bottom' : ''}">
        <NotePreview
          {note}
          {showFolder}
          on:remove={() => remove(note.id)}
          on:edit={() => edit(note)}
          on:toggleDone={() => toggleDone(note)} />
      </div>
    {/each}
    {#if notes.length === 0}
      <h2 class="text-center py-5 text-gray text-lg font-medium">Wow, such empty</h2>
    {/if}
  </div>
</Box>

<style>
  .done {
    background: rgba(var(--primary-color-rgb), 0.05);
  }

  .rounded-bottom {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }

  .note-preview-wrapper {
    max-height: 190px;
    overflow-y: hidden;
  }

  .border-top {
    border-top: 1px solid var(--border-color);
  }

  .note-preview-wrapper:hover {
    background: var(--note-hover-bg);
  }

  .search-input:focus {
    border: 0;
    box-shadow: none;
  }
</style>
