<script>
  import {
    HomeIcon,
    FolderIcon,
    BookmarkIcon,
    PlusIcon,
    LogOutIcon,
    ListIcon,
    SlidersIcon
  } from 'svelte-feather-icons';
  import NavLink from './NavLink.svelte';
  import * as service from './../service';

  async function logout() {
    await service.logout();
    window.location.href = '/';
  }
</script>

<header class="md:fixed">
  <nav class="flex md:flex-col md:items-start flex-row justify-center">
    <NavLink to="/">
      <div class="my-1 p-3 pr-3 md:mx-3 mx-1 navlink">
        <div class="flex flex-row">
          <div class="menu-icon">
            <HomeIcon />
          </div>
          <div class="mx-4 hidden lg:inline-block text-lg">Home</div>
        </div>
      </div>
    </NavLink>
    <NavLink to="/folders">
      <div class="my-1 p-3 pr-3 md:mx-3 mx-1 navlink">
        <div class="flex flex-row">
          <div class="menu-icon">
            <FolderIcon />
          </div>
          <div class="mx-4 hidden lg:inline-block text-lg">Folders</div>
        </div>
      </div>
    </NavLink>
    <NavLink to="/notes">
      <div class="my-1 p-3 pr-3 md:mx-3 mx-1 navlink">
        <div class="flex flex-row">
          <div class="menu-icon">
            <BookmarkIcon />
          </div>
          <div class="mx-4 hidden lg:inline-block text-lg">Notes</div>
        </div>
      </div>
    </NavLink>
    <NavLink to="/settings">
      <div class="my-1 p-3 pr-3 md:mx-3 mx-1 navlink">
        <div class="flex flex-row">
          <div class="menu-icon">
            <SlidersIcon />
          </div>
          <div class="mx-4 hidden lg:inline-block text-lg">Settings</div>
        </div>
      </div>
    </NavLink>
    <button class="my-1 p-3 pr-3 md:mx-3 mx-1 navlink" on:click={logout}>
      <div class="flex flex-row">
        <div class="menu-icon">
          <LogOutIcon />
        </div>
        <div class="mx-4 hidden lg:inline-block text-lg">Logout</div>
      </div>
    </button>
    <NavLink to="/new">
      <div class="hidden lg:block my-4 py-2 px-16 btn-new rounded-full font-bold">New</div>
    </NavLink>
    <NavLink to="/new">
      <div class="lg:hidden xl:hidden md:block px-3 my-1 py-3 btn-new rounded-full md:mx-4 mx-1">
        <div class="menu-icon">
          <PlusIcon />
        </div>
      </div>
    </NavLink>
  </nav>
</header>

<style>
  .menu-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
</style>
