<div class="spinner" />

<style>
    .spinner {
        width: 36px;
        height: 36px;
        border: 3px solid #143030;
        border-radius: 50%;
        border-top-color: var(--primary-color);
        animation: spin 1s ease-in-out infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
</style>
