<script>
  export let tag;
  export let count = -1;
  export let active = false;
</script>

<div>
  <div class="tag rounded-full text-sm px-3" class:active>
    {tag}
    {#if count > 0}
      <div class="count pl-2 rounded-full inline-block">{count}</div>
    {/if}
  </div>
</div>

<style>
  .tag {
    color: var(--text-color);
    border: 1px solid var(--border-color);
  }

  .tag:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }

  .active {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-weight: bold;
    box-shadow: inset 0 0 0 1px var(--primary-color);
  }
</style>
