<script>
    import { fade } from 'svelte/transition';
    import Tag from './Tag.svelte';

    export let tags = [];
    export let placeholder = 'Add tag';

    let tagInput = '';

    function addTag(e) {
        if (
            e.keyCode !== 13 ||
            tagInput.trim() === '' ||
            tags.indexOf(tagInput) !== -1
        )
            return;

        tags = [...tags, tagInput.trim()];
        tagInput = '';
    }

    function removeTag(idx) {
        tags.splice(idx, 1);
        tags = tags;
    }
</script>

<div class="flex flex-row flex-wrap items-center">
    <input
        class="border px-2 my-2 mr-3 rounded-full w-40 outline-none"
        type="text"
        name="tag input"
        maxlength="25"
        on:keydown={addTag}
        bind:value={tagInput}
        autocomplete="off"
        {placeholder} />
    {#each tags as tag, idx (tag)}
        <div class="pl-5 pr-3 mr-1 my-1 border rounded-full" out:fade|local>
            <div class="mr-1 inline-block">{tag}</div>
            <button
                type="button"
                on:click={() => removeTag(idx)}
                class="del-btn inline-block"
                aria-label="remove tag">
                ×
            </button>
        </div>
    {/each}
    {#if tagInput !== ''}
        <div class="pl-5 pr-3 mr-1 my-1 border border-dashed rounded-full">
            <div class="mr-1 inline-block">{tagInput}</div>
        </div>
    {/if}
</div>

<style>

</style>
