<script>
    import timeago from 'timeago.js';
    import { onMount, onDestroy } from 'svelte';

    export let datetime;
    const id = Math.random()
        .toString(36)
        .substring(2, 9);

    onMount(() => timeago.render(document.getElementById(id)));
    onDestroy(() => timeago.cancel());
</script>

<time {id} {datetime} title={new Date(datetime).toDateString()} />
