@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
  @apply font-bold;
}
h2 {
  @apply text-xl;
  @apply font-bold;
}
h3 {
  @apply text-lg;
  @apply font-bold;
}
h4, h5, h6 {
  @apply text-lg;
  @apply font-bold;
}
a {
  color: var(--primary-color);
  outline: none;
}

a:hover {
    text-decoration: none;
}
