<script>
  import { folders } from './../stores';
  import { navigate } from 'svelte-routing';
  import NotFoundView from './NotFoundView.svelte';
  import Spinner from './../components/Spinner.svelte';
  import NoteForm from './../components/NoteForm.svelte';
  import * as service from './../service';
  import * as util from './../util';

  export let folderId;
  export let noteId;

  const folder = $folders.find(f => f.id === +folderId);
  let note;
  let idx;
  let loading = false;

  init();

  function init() {
    if (!folder) return;
    if (!folder.notes) {
      navigate(`/folders/${folder.id}/unlock`);
      return;
    }
    idx = folder.notes.findIndex(n => n.id === +noteId);
    note = folder.notes[idx];
  }

  async function update({ detail: editedNote }) {
    loading = true;
    folder.notes[idx] = editedNote;

    folder.content = util.encrypt(JSON.stringify(folder.notes), folder.password).toString();

    await service.updateNote(folder);

    navigate(`/folders/${folder.id}`);
  }
</script>

{#if !folder || !note}
  <NotFoundView />
{:else if loading}
  <div class="flex flex-row justify-center mx-auto">
    <Spinner />
  </div>
{:else}
  <NoteForm bind:note on:submit={update} allowFolder={false} />
{/if}
