<script>
  import { notes } from './../stores';
  import { navigate } from 'svelte-routing';
  import NoteForm from './../components/NoteForm.svelte';
  import Spinner from './../components/Spinner.svelte';
  import * as service from './../service';

  export let id;
  let loading = false;

  let note = $notes.find(n => n.id == id);
  if (!note) {
    navigate('/new', { replace: true });
  }

  async function update({ detail: editedNote }) {
    loading = true;
    editedNote = await service.updateNote(editedNote);
    notes.update(editedNote);

    navigate(`/notes/${note.id}`);
  }
</script>

{#if loading}
  <div class="flex flex-row justify-center mx-auto">
    <Spinner />
  </div>
{:else}
  <NoteForm {note} on:submit={update} />
{/if}
