<script>
  import { notes, folders } from './../stores';
  import { navigate } from 'svelte-routing';
  import * as util from './../util';
  import * as service from './../service';
  import NotePreview from './../components/NotePreview.svelte';
  import NotFoundView from './NotFoundView.svelte';

  export let folderId;
  export let noteId;

  const folder = $folders.find(f => f.id === +folderId);

  const note = folder && folder.notes && folder.notes.find(n => n.id === +noteId);

  async function toggleDone() {
    note.props.todo.done = !note.props.todo.done;
    note = note;

    folder.content = util.encrypt(JSON.stringify(folder.notes), folder.password);
    await service.updateNote(folder);
  }

  async function remove() {
    const idx = folder.notes.findIndex(n => n.id === +noteId);
    folder.notes.splice(idx, 1);

    folder.content = util.encrypt(JSON.stringify(folder.notes), folder.password);
    await service.updateNote(folder);

    navigate(`/folders/${folder.id}`);
  }
</script>

<div>
  {#if note}
    <NotePreview
      {note}
      on:toggleDone={toggleDone}
      on:remove={remove}
      on:edit={({ detail: noteId }) => navigate(`/folders/${folder.id}/notes/${noteId}/edit`)} />
  {:else}
    <NotFoundView />
  {/if}
</div>

<style>

</style>
