<script>
  import NotesBox from './../components/NotesBox.svelte';
  import { SettingsIcon, LockIcon, ChevronLeftIcon } from 'svelte-feather-icons';
  import * as service from './../service';
  import * as util from './../util';
  import { folders } from './../stores';
  import { navigate } from 'svelte-routing';

  export let folder;

  if (!folder.password || !folder.notes)
    navigate(`/folders/${folder.id}/unlock`, { replace: true });

  async function remove(noteId) {
    const idx = folder.notes.findIndex(n => n.id === noteId);
    folder.notes.splice(idx, 1);

    folder.content = util.encrypt(JSON.stringify(folder.notes), folder.password);
    await service.updateNote(folder);
  }

  async function toggleDone(note) {
    note.props.todo.done = !note.props.todo.done;

    folder.content = util.encrypt(JSON.stringify(folder.notes), folder.password);
    await service.updateNote(folder);
  }

  function edit(note) {
    navigate(`/folders/${folder.id}/notes/${note.id}/edit`);
  }

  function open(note) {
    navigate(`/folders/${folder.id}/notes/${note.id}`);
  }
</script>

<div>
  <NotesBox
    title={folder.props.name}
    showFolder={false}
    notes={folder.notes || []}
    {open}
    {edit}
    {remove}
    {toggleDone}>
    <span slot="title-btn">
      <div
        class="icon-sm text-gray cursor-pointer folder-settings-icon"
        on:click={() => navigate(`/folders/${folder.id}/settings`)}>
        <SettingsIcon />
      </div>
    </span>
    <span slot="header-btn">
      <button
        type="button"
        on:click={() => navigate(`/folders/${folder.id}/new`)}
        class="secondary-btn text-sm px-4 font-semibold">
        add note
      </button>
    </span>
  </NotesBox>
</div>

<style>
  .folder-settings-icon:hover {
    color: var(--primary-color);
  }
</style>
