<script>
  import Box from './../components/Box.svelte';
  import * as service from './../service';
  import * as util from './../util';
  import NotFoundView from './NotFoundView.svelte';
  import { navigate } from 'svelte-routing';
  import { SettingsIcon, ChevronLeftIcon } from 'svelte-feather-icons';
  import { folders, notes } from './../stores';

  export let id;
  export let location;

  const folder = $folders.find(n => n.id === +id);

  if (folder && folder.props.encrypted && !folder.password) {
    navigate(`/folders/${folder.id}/unlock`, { replace: true });
  }

  let newName = folder ? folder.props.name : '';

  async function deleteFolderAndNotes() {
    await service.removeFolder(folder.id, true);
    folders.remove(folder.id);
    $notes.filter(n => n.props.folder === folder.id).forEach(n => notes.remove(n.id));
    navigate('/folders');
  }

  async function deleteFolder() {
    await service.removeFolder(folder.id, false);
    folders.remove(folder.id);
    $notes.forEach(n => n.props.folder === folder.id && delete n.props.folder);
    navigate('/folders');
  }

  async function updateName() {
    const { data: updatedProps } = await service.updateProps(folder.id, {
      ...folder.props,
      name: newName
    });
    folder.props = updatedProps;
  }
</script>

{#if !folder}
  <NotFoundView />
{:else}
  <Box title={folder.props.name}>
    <span slot="title-btn">
      <div
        class="icon-sm text-gray cursor-pointer folder-settings-icon"
        on:click={() => navigate(`/folders/${folder.id}`)}>
        <ChevronLeftIcon />
      </div>
    </span>
    <div slot="body" class="p-5">
      <div>
        <span class="text-lg">Name:</span>
        <input
          type="text"
          maxlength="40"
          class="rounded-full text-lg mx-1 px-3"
          bind:value={newName} />
        <button type="button" class="secondary-btn" on:click={updateName}>save</button>
      </div>
      <div class="mt-10 flex flex-row flex-wrap">
        <button type="button" on:click={deleteFolderAndNotes} class="m-1 danger-btn">
          Delete folder and notes
        </button>
        {#if !folder.props.encrypted}
          <button type="button" on:click={deleteFolder} class="m-1 danger-btn">
            Delete folder and keep notes
          </button>
        {/if}
      </div>
    </div>
  </Box>
{/if}
