<script>
  import NotesBox from './../components/NotesBox.svelte';
  import Box from './../components/Box.svelte';
  import NotFoundView from './NotFoundView.svelte';
  import EncryptedFolderView from './EncryptedFolderView.svelte';
  import { SettingsIcon, LockIcon, ChevronLeftIcon } from 'svelte-feather-icons';
  import { folders, notes as notesStore } from './../stores';
  import * as util from './../util';
  import { navigate } from 'svelte-routing';
  import * as service from './../service';

  export let id;
  export let location;

  let folder = $folders.find(n => n.id === +id);

  async function remove({ detail: noteId }) {
    await service.removeNote(noteId);
    notesStore.remove(noteId);
  }

  async function toggleDone({ detail: noteId }) {
    const note = $notesStore.find(n => n.id === noteId);

    note.props.todo.done = !note.props.todo.done;
    await service.updateProps(note.id, note.props);
    notesStore.update(note);
  }
</script>

<div>
  {#if !folder}
    <NotFoundView />
  {:else if folder.props.encrypted}
    <EncryptedFolderView {folder} />
  {:else}
    <NotesBox
      title={folder.props.name}
      showFolder={false}
      notes={$notesStore.filter(n => n.props.folder === folder.id)}
      on:open={({ detail: noteId }) => {
        navigate(`/notes/${noteId}`);
      }}
      on:edit={({ detail: noteId }) => {
        navigate(`/notes/${noteId}/edit`);
      }}
      on:remove={remove}
      on:toggleDone={toggleDone}>
      <span slot="title-btn">
        <div
          class="icon-sm text-gray cursor-pointer folder-settings-icon"
          on:click={() => navigate(`/folders/${folder.id}/settings`)}>
          <SettingsIcon />
        </div>
      </span>
      <span slot="header-btn">
        <button
          type="button"
          on:click={() => navigate(`/folders/${folder.id}/new`)}
          class="secondary-btn text-sm font-semibold">
          add note
        </button>
      </span>
    </NotesBox>
  {/if}
</div>

<style>
  .folder-settings-icon:hover {
    color: var(--primary-color);
  }
</style>
