<script>
  import { notes as notesStore, folders, tags, selectedTag } from './../stores';
  import { navigate } from 'svelte-routing';
  import Box from './../components/Box.svelte';
  import NotesBox from './../components/NotesBox.svelte';
  import Tag from './../components/Tag.svelte';
  import FoldersBox from './../components/FoldersBox.svelte';
</script>

<div class="w-full mx-auto mb-20">
  <div class="flex flex-row">
    <div class="lg:w-7/12 w-full">
      <NotesBox title="Latest notes" notes={$notesStore.slice(0, 10)} />
    </div>
    <aside class="ml-4 lg:w-5/12 hidden lg:block flex flex-col">
      <div class="mb-4">
        <FoldersBox limit={10} />
      </div>
      {#if $tags.length > 0}
        <div class="mb-4">
          <Box title="Tags">
            <div slot="body" class="p-1">
              <div class="flex flex-row flex-wrap justify-center">
                {#each $tags as tag, idx}
                  <div
                    class="mr-2 my-1 cursor-pointer"
                    on:click={() => {
                      selectedTag.set(tag.name);
                      navigate('/notes');
                    }}>
                    <Tag tag={tag.name} count={tag.count} />
                  </div>
                {/each}
              </div>
            </div>
          </Box>
        </div>
      {/if}
    </aside>

  </div>
</div>

<style>

</style>
