<script>
  import NoteForm from './../components/NoteForm.svelte';
  import Spinner from './../components/Spinner.svelte';
  import NotFoundView from './NotFoundView.svelte';
  import { folders } from './../stores';
  import * as util from './../util';
  import { navigate } from 'svelte-routing';
  import * as service from './../service';

  export let id;

  const folder = $folders.find(f => f.id === +id);
  if (folder && !folder.props.encrypted) navigate(`/new?folder=${folder.id}`, { replace: true });
  else if (folder && (!folder.password || !folder.notes))
    navigate(`/folders/${folder.id}/unlock`, { replace: true });

  let note = {
    content: '',
    props: {
      markdown: false,
      tags: []
    }
  };
  let loading = false;

  async function submit({ detail: newNote }) {
    delete newNote.folder;
    newNote.id = folder.notes.length > 0 ? Math.max(...folder.notes.map(n => n.id)) + 1 : 1;
    newNote.createdAt = new Date().getTime();
    folder.notes.unshift(newNote);

    folder.content = util.encrypt(JSON.stringify(folder.notes), folder.password).toString();

    await service.updateNote(folder);

    navigate(`/folders/${folder.id}`);
  }
</script>

<div>
  {#if !folder}
    <NotFoundView />
  {:else if loading}
    <div class="flex flex-row justify-center mx-auto">
      <Spinner />
    </div>
  {:else}
    <NoteForm {note} on:submit={submit} allowFolder={false} />
  {/if}
</div>
