<script>
  import Spinner from './../components/Spinner.svelte';
  import { navigate } from 'svelte-routing';
  import { folders } from './../stores';
  import * as service from './../service';

  let folder = {
    content: '',
    password: '',
    props: { type: 'folder', encrypted: false, name: '' }
  };
  let loading = false;

  async function save() {
    if (!folder.props.name.trim()) return;
    if (folder.props.encrypted && !folder.password.trim()) return;

    if (!folder.props.encrypted) {
      delete folder.password;
    }

    loading = true;

    const newFolder = await service.createFolder(folder);
    if (folder.props.encrypted) {
      newFolder.password = folder.password;
      newFolder.notes = [];
    }

    navigate(`/folders/${newFolder.id}`);
  }
</script>

<div class="p-2 flex flex-col items-center">
  <input
    type="text"
    maxlength="40"
    class="px-3 py-1 rounded-lg w-full md:w-1/2"
    bind:value={folder.props.name}
    placeholder="Folder name" />
  <label class="mt-3 select-none cursor-pointer" for="encrypted">
    <input
      bind:checked={folder.props.encrypted}
      type="checkbox"
      class="cursor-pointer"
      id="encrypted" />
    Encrypted
  </label>
  {#if folder.props.encrypted}
    <input
      type="password"
      maxlength="40"
      class="px-3 py-1 mt-1 rounded-lg w-full md:w-1/2"
      bind:value={folder.password}
      placeholder="Key" />
  {/if}
  {#if loading}
    <div class="spinner mx-auto my-3">
      <Spinner />
    </div>
  {:else}
    <button type="button" class="primary-btn px-4 mx-auto mt-6" on:click={save}>Save</button>
  {/if}
</div>
