<script>
  import NoteForm from './../components/NoteForm.svelte';
  import Spinner from './../components/Spinner.svelte';
  import { notes, folders } from './../stores';
  import * as service from './../service';
  import * as util from './../util';
  import { navigate } from 'svelte-routing';

  let note = {
    content: '',
    props: {
      markdown: true,
      tags: []
    }
  };
  let loading = false;
  let selectedFolder;

  const urlFolder = new URLSearchParams(window.location.search).get('folder');
  const presetFolder = $folders.find(f => f.id == urlFolder);
  if (!note.props.folder && presetFolder && !presetFolder.props.encrypted) {
    note.props.folder = presetFolder.id;
  }

  async function submit({ detail: newNote }) {
    loading = true;
    newNote = await service.createNote(newNote);

    if (presetFolder && newNote.props.folder === presetFolder.id)
      navigate(`/folders/${presetFolder.id}`);
    else navigate(`/notes/${newNote.id}`);
  }
</script>

<div>
  {#if loading}
    <div class="flex flex-row justify-center mx-auto">
      <Spinner />
    </div>
  {:else}
    <NoteForm bind:note on:submit={submit} />
  {/if}
</div>
