<script>
  import NotesBox from './../components/NotesBox.svelte';
  import { notes, selectedTag } from './../stores';

  let selectedTags = [];
  if ($selectedTag) {
    selectedTags = [$selectedTag];
    selectedTag.set(null);
  }
</script>

<div class="mb-20">
  <NotesBox title="Notes" showFolder={true} notes={$notes} {selectedTags} />
</div>
