<script>
  import { notes } from './../stores';
  import { navigate } from 'svelte-routing';
  import NotePreview from './../components/NotePreview.svelte';
  import NotFoundView from './NotFoundView.svelte';
  import * as service from './../service';

  export let id;
  const note = $notes.find(n => n.id == id);

  async function toggleDone({ detail: noteId }) {
    note.props.todo.done = !note.props.todo.done;
    await service.updateProps(note.id, note.props);
  }

  async function remove() {
    await service.removeNote(note.id);
    notes.remove(note.id);
    navigate('/');
  }
</script>

<div>
  {#if note}
    <NotePreview
      {note}
      on:toggleDone={toggleDone}
      on:remove={remove}
      on:edit={({ detail: noteId }) => navigate(`/notes/${noteId}/edit`)} />
  {:else}
    <NotFoundView />
  {/if}
</div>

<style>

</style>
