<script>
  import * as themes from './../themes';

  let theme = localStorage.getItem('theme') || 'dark';
  const colors = [
    '29, 161, 242',
    '255, 173, 31',
    '224, 36, 94',
    '121, 75, 196',
    '244, 93, 34',
    '23, 191, 99',
    '182, 150, 192',
    '145, 71, 255',
    '66, 103, 178',
    '125, 125, 125',
    '119, 44, 232'
  ];

  function setColor(color) {
    themes.setColor(color, true);
  }
</script>

<div>
  <div class="text-lg flex flex-row flex-wrap mb-4">
    <p class="text-lg mr-3">Theme</p>
    <button
      type="button"
      on:click={() => {
        themes.dark(true);
        theme = 'dark';
      }}
      class="{theme === 'dark' ? 'active-theme-btn' : 'theme-btn'} rounded-l-lg px-3">
      Dark
    </button>
    <button
      type="button"
      on:click={() => {
        themes.light(true);
        theme = 'light';
      }}
      class="{theme === 'light' ? 'active-theme-btn' : 'theme-btn'} rounded-r-lg px-3">
      Light
    </button>
  </div>
  <div class="text-lg flex flex-row">
    <p class="text-lg mr-3">Color</p>
    {#each colors as color}
      <button
        type="button"
        on:click={() => setColor(color)}
        style="background: {'rgb(' + color + ')'}"
        class="color-btn px-5" />
    {/each}
  </div>
</div>

<style>
  .active-theme-btn {
    background: var(--primary-color);
    color: black;
  }

  .theme-btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
</style>
