<script>
  import Box from './../components/Box.svelte';
  import NotesBox from './../components/NotesBox.svelte';
  import Tag from './../components/Tag.svelte';
  import { notes as notesStore, tags, selectedTag } from './../stores';

  export let selectedTags = [];
  let notes = [];

  if ($selectedTag) {
    selectedTags = [$selectedTag.name];
    selectedTag.set(null);
  }

  $: notes =
    selectedTags.length === 0
      ? $notesStore
      : $notesStore.filter(n =>
          n.props.tags.reduce((ok, tag) => ok || selectedTags.indexOf(tag) !== -1, false)
        );

  function toggle(tag) {
    const idx = selectedTags.indexOf(tag);
    if (idx !== -1) selectedTags.splice(idx, 1);
    else selectedTags.push(tag);
    selectedTags = selectedTags;
  }
</script>

<div>
  <div class="mb-5">
    <Box title="Tags">
      <div slot="body" class="py-3">
        <div class="flex flex-row flex-wrap justify-center">
          {#each $tags as tag, idx}
            <div class="mr-2 my-1 cursor-pointer" on:click={() => toggle(tag.name)}>
              <Tag
                tag={tag.name}
                count={tag.count}
                active={selectedTags.indexOf(tag.name) !== -1} />
            </div>
          {/each}
        </div>
      </div>
    </Box>
  </div>
  <div class="mb-5">
    <NotesBox title="Notes" {notes} />
  </div>
</div>
