<script>
  import Box from './../components/Box.svelte';
  import * as util from './../util';
  import { folders } from './../stores';
  import { LockIcon } from 'svelte-feather-icons';
  import NotFoundView from './NotFoundView.svelte';
  import { navigate } from 'svelte-routing';
  import { fade } from 'svelte/transition';

  export let id;
  export let location;

  let folder = $folders.find(f => f.id === +id);

  let passwordInput;
  let incorrectPassword = false;

  function tryUnlock() {
    incorrectPassword = false;
    try {
      if (folder.content) folder.notes = JSON.parse(util.decrypt(folder.content, passwordInput));
      else folder.notes = [];

      folder.password = passwordInput;

      navigate(`/folders/${folder.id}`, { replace: true });
    } catch (e) {
      incorrectPassword = true;
    }
  }
</script>

{#if !folder || !folder.props.encrypted}
  <NotFoundView />
{:else}
  <Box title={folder.props.name}>
    <form slot="body" on:submit|preventDefault={tryUnlock}>
      <div class="p-2 flex flex-col items-center">
        <div class="my-1 cursor-pointer icon-lg lock-icon">
          <LockIcon />
        </div>
        <p class="my-3 text-lg">This folder is encrypted</p>
        {#if incorrectPassword}
          <p class="text-red-500" transition:fade|local>Incorrect password</p>
        {/if}

        <input
          type="password"
          placeholder="password"
          bind:value={passwordInput}
          class="px-3 py-1 text-lg rounded-lg w-full md:w-1/3 my-3" />
        <button type="submit" class="secondary-btn">Decrypt</button>
      </div>
    </form>
  </Box>
{/if}

<style>
  .lock-icon:hover {
    color: var(--primary-color);
  }
</style>
